/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.input-digit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}

#generateBtn {
  margin-left: 10px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.number-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 5px;
}

.number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 3px;
}

.number-box.red {
  background-color: red;
}

/* CSS untuk menyusun angka-angka dalam satu baris secara horizontal */
.flex-container {
  display: flex;
  flex-wrap: nowrap; /* agar angka-angka tidak melompat ke baris berikutnya */
}
.a {
  display: flex;
  flex-wrap: nowrap; /* agar angka-angka tidak melompat ke baris berikutnya */
}

/* Gaya untuk setiap angka dalam kotak */
.number-box.non-red {
  /* Tambahkan gaya sesuai kebutuhan */
  margin-right: 10px; /* Spasi antara angka-angka */
}
